.navigation {
    padding: 0 8px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
  }
  .navigation ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    font-weight: 500;
  }